


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* === START STRUCTURE === */
/* -- START DEBUGGING STYLES -- */
.debug {
  border: 1px solid var(--test-debug);
}
.debug.debug-bg-1 {
  background-color: var(--debug-shade-1);
}
.debug.debug-bg-2 {
  background-color: var(--debug-shade-2);
}
.debug.debug-bg-3 {
  background-color: var(--debug-shade-3);
}
.debug-all {
  border: 1px solid var(--test-debug);
}
.debug-all * {
  border: 1px solid var(--test-debug);
}
/* -- END DEBUGGING STYLES -- */

/* -- START GRID LAYOUTS -- */

.grid {
  display: grid;
}

.grid-2 {
  grid-template-columns: 50% 50%;
}
.grid-3 {
  grid-template-columns: 33.33% 33.33% 33.33%;
}
.grid-4 {
  grid-template-columns: 25% 25% 25% 25%;
}
.grid-5 {
  grid-template-columns: 20% 20% 20% 20% 20%;
}
/* -- END GRID LAYOUTS -- */

/* === END STRUCTURE === */

/* START jugaad cart layout */

.header {
  grid-area: header;
  background-color: var(white--bg-color-);
}
.cart-content {
  grid-area: cart-content;
  background-color: var(--bg-color-white);
}
.footer {
  grid-area: footer;
  background-color: var(--bg-color-white);
}

/* - START internals of the cart page - */
.cart-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "items-col pricing-col";
}

.items-col {
  grid-area: items-col;
  background-color: var(--bg-color-white);
}
.pricing-col {
  grid-area: pricing-col;
  /* background-color: var(--primary); */
} /* - END internals of the cart page - */

/* START jugaad wishlist layout */
.wishlist-parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 85px 1fr 85px;
  gap: 0px 0px;
  grid-template-areas:
    "header header header header"
    "wishlist-content wishlist-content wishlist-content wishlist-content"
    "footer footer footer footer";
}

.header {
  grid-area: header;
  background-color: var(--bg-color-white);
}
.wishlist-content {
  grid-area: wishlist-content;
  background-color: var(--bg-color-white);
}
.footer {
  grid-area: footer;
  background-color: var(--bg-color-white);
}

/* - START internals of the wishlist page - */
.wishlist-content {
  font: inherit;
}
/* - END internals of the wishlist page - */

/* END jugaad wishlist layout */

/* Start Home Page */
.hero-overlay-text {
  font-size: 3rem;
  color: var(--text-black);
  background-color: var(--bg-color-white);
  opacity: 0.9;
}

.body .body-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.featured-image img {
  width: 100vw;
}

.featured-image {
  position: relative;
  display: flex;
  justify-content: center;
}

.featured-image .hero-overlay {
  position: absolute;
  width: 100%;
  line-height: 5rem;
  top: 60%;
  background-color: var(--white-bg);
  opacity: 0.8;
}
.featured-image .hero-overlay:hover {
  cursor: pointer;
}
.categories {
  border-radius: 0.5rem;
}

.featured-image {
  max-width: 100%;
}

.card-image.badge {
  position: relative;
}

.card-image.badge figure {
  display: flex;
  color: var(--bg-color-white);
  justify-content: center;
  align-content: center;
  position: absolute;
  padding: 0.25rem 1rem;
  top: 3rem;
  right: 0;
  background-color: var(--primary-color);
}

.card-image.badge figure:hover {
  cursor: pointer;
}
#best-seller-button {
  background-color: var(--primary-color);
}

.featured-section {
  border-radius: 0.5rem;
}
/* End Home Page */
/* START MEDIA QUERIES */
/* M - Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /* M - START grid layout - */
  .grid-2 {
    grid-template-columns: 100%;
  }
  .grid-3 {
    grid-template-columns: 100%;
  }
  .grid-4 {
    grid-template-columns: 100%;
  }
  .grid-5 {
    grid-template-columns: 100%;
  }
  /* M - END grid layout - */
}

/* T - Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  /* T - START grid layout - */
  .grid-2 {
    grid-template-columns: 50% 50%;
  }
  .grid-3 {
    grid-template-columns: 50% 50%;
  }
  .grid-4 {
    grid-template-columns: 50% 50%;
  }
  .grid-5 {
    grid-template-columns: 50% 50%;
  }
  /* T - END grid layout - */
}

/* D - Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 769px) and (max-width: 1200px) {
  /* D - START grid layout - */
  .grid-2 {
    grid-template-columns: 50% 50%;
  }
  .grid-3 {
    grid-template-columns: 50% 50%;
  }
  .grid-4 {
    grid-template-columns: 33.33% 33.33% 33.33%;
  }
  .grid-5 {
    grid-template-columns: 33.33% 33.33% 33.33%;
  }
  /* D - END grid layout - */
}

/* DX - Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /* DX - START grid layout - */
  .grid-2 {
    grid-template-columns: 50% 50%;
  }
  .grid-3 {
    grid-template-columns: 33.33% 33.33% 33.33%;
  }
  .grid-4 {
    grid-template-columns: 25% 25% 25% 25%;
  }
  .grid-5 {
    grid-template-columns: 20% 20% 20% 20% 20%;
  }
  /* DX - END grid layout - */
}
/* nav section starts */

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-color-white);
  width: 100%;
}

.nav-left {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
  align-items: center;
  padding: 0 1rem;
  width: 50%;
}

.nav-left .search-bar {
  border-radius: 1rem;
  border: 1px solid var(--primary);
  padding-left: 1rem;
  margin-left: 9rem;
  height: 2rem;
  width: 40%;
  color: var(--primary);
}

.nav-left .button.button-icon {
  height: 2.2rem;
}

.nav img {
  padding: 1rem 1rem;
  height: 5rem;
}

.nav-right i {
  font-size: 1.6rem;
  color: var(--primary);
  transition: 0.3s;
}
.nav-right i:hover {
  cursor: pointer;
  opacity: 0.7;
}

.nav-right {
  display: flex;
  align-items: center;
  width: 25%;
}

/* nav section ends */
/* filter section start */
.filter-container {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.filter-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-section.filter-heading:hover {
  cursor: pointer;
}

.filter-section {
  border-bottom: 1px solid var(--primary);
  padding: 0.5rem 0;
}

.filter-section > h3,
h4 {
  padding: 0.5rem 0;
  text-align: left;
}

.filter-pricing input {
  width: 80%;
}

.filter-categories .checkbox-list > li {
  padding: 0.25rem 0;
  text-align: left;
}

.checked {
  color: orange;
}

.filter-section.filter-rating > span:hover {
  cursor: pointer;
}
/* filter section end */

/* slider section starts  */

datalist {
  display: flex;
  justify-content: space-between;
  color: var(--primary);
  width: 80%;
}

datalist > option {
  font-weight: bold;
}

#rating-slider {
  display: flex;
  justify-content: left;
}

/* slider section ends  */

/* footer section start */

.footer-container {
  border-top: 1px solid var(--primary-color);
  display: flex;
  justify-content: space-around;
}

.footer-about-company {
  width: 20rem;
  text-align: justify;
}

.footer-quick-links .unordered-list {
  list-style: none;
}
.footer-contact-us .unordered-list {
  list-style: none;
}

.footer-contact-us .unordered-list li i {
  color: var(--primary-color);
}
/* footer section end */
